AddType text/x-component .htc
php_value magic_quotes_gpc off
AddCharset utf-8 *
AddDefaultCharset UTF-8
<IfModule mod_charset.c>
CharsetSourceEnc utf-8
CharsetDefault utf-8
</IfModule>

RewriteEngine on

RewriteCond %{QUERY_STRING} base64_encode[^(]*\([^)]*\) [OR]
# Block out any script that includes a <script> tag in URL.
RewriteCond %{QUERY_STRING} (<|%3C)([^s]*s)+cript.*(>|%3E) [NC,OR]
# Block out any script trying to set a PHP GLOBALS variable via URL.
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
# Block out any script trying to modify a _REQUEST variable via URL.
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
# Return 403 Forbidden header and show the content of the root homepage
RewriteRule .* index.php [F]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

<Limit POST>
SetEnvIf Request_URI "^/(us|tr|kp)" NO_AUTH

AuthType Basic  
AuthName "Sorry, access denied."
AuthUserFile  /var/www/vhosts/lbr.ru/httpdocs/.htpasswd  
require valid-user

Order allow,deny
Allow from all
Deny from env=NO_AUTH
Satisfy any
</Limit>

<Limit GET>
SetEnvIf Request_URI "^/(us|tr)" NO_AUTH

AuthType Basic  
AuthName "Sorry, access denied."
AuthUserFile  /var/www/vhosts/lbr.ru/httpdocs/.htpasswd  
require valid-user

Order allow,deny
Allow from all
Deny from env=NO_AUTH
Satisfy any
</Limit>
