@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,300italic,400italic,600&subset=latin,cyrillic);
.clr {
  content: '';
  clear: both;
  float: none;
  display: block;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.panel {
  height: 30px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.panel .bodyClassBut {
  float: right;
  padding: 0 10px;
}
.panel .bodyClassBut label {
  width: 40px;
  line-height: 30px;
  padding: 3px 10px;
  border: 1px solid transparent;
}
.panel .bodyClassBut label:first-child {
  border-radius: 3px 0 0 3px;
  border-right: 0;
}
.panel .bodyClassBut label:last-child {
  border-radius: 0 3px 3px 0;
}
.panel .bodyClassBut > label > input {
  display: none;
}
.panel .user-info {
  float: right;
  position: relative;
  margin: 0 10px;
  z-index: 1;
}
.panel .user-info > span {
  line-height: 30px;
  border-bottom: 1px dashed #777777;
  cursor: default;
}
.panel .user-info .user-drop {
  border-radius: 2px;
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  min-width: 400px;
  padding: 15px;
  z-index: 99;
  box-shadow: 0 0 5px #c8c8c8;
}
.panel .user-info .user-drop .photo {
  float: left;
  margin: 0 15px 0 0;
}
.panel .user-info .user-drop .photo img {
  max-width: 150px;
  max-height: 250px;
}
.panel .user-info .user-drop .u-field label {
  margin-right: 15px;
  width: 20%;
  display: inline-block;
  font-weight: 600;
  text-align: right;
}
.panel .user-info .user-drop:after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  right: 35px;
  width: 0px;
  height: 0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 5px solid #FFF;
}
.panel .user-info .user-drop.ng-animate {
  -webkit-transition: all .3s linear 0s;
  /* Safari/Chrome */
  -moz-transition: all .3s linear 0s;
  /* Firefox */
  -ms-transition: all .3s linear 0s;
  /* IE10 */
  -o-transition: all .3s linear 0s;
  /* Opera */
  transition: all .3s linear 0s;
  /* Future Browsers */
  opacity: 1;
}
.panel .user-info .user-drop.ng-animate.ng-leave,
.panel .user-info .user-drop.ng-animate.ng-enter {
  opacity: 0;
}
.panel .user-info .user-drop.ng-animate.ng-enter-active {
  opacity: 1;
}
.panel .logout {
  float: right;
  margin: 0 15px 0 5px;
}
.panel .logout a {
  color: #555555;
  line-height: 30px;
}
.panel:after {
  content: '';
  clear: both;
  float: none;
  display: block;
}
/*--------dark-theme-------*/
body.dark {
  background: url('/images/generator/pic/bg-body.jpg') repeat;
  color: white;
}
body.dark .panel {
  background: rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid #555555;
}
body.dark .bodyClassBut label {
  background: #4A4A4A;
  border-color: #555555;
}
body.dark .bodyClassBut label#label-bodyClass-dark {
  background: #222222;
}
/*--------light-theme-------*/
body.light {
  background: url('/images/generator/pic/bg-body-white.jpg') repeat;
  color: #333333;
}
body.light .panel {
  background: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #CCCCCC;
}
body.light .panel .bodyClassBut label {
  background: #EFEFEF;
  border-color: #cccccc;
}
body.light .panel .bodyClassBut label#label-bodyClass-light {
  background: white;
}
/*---------List-kp----------*/
.list-kp {
  padding: 0;
  margin: 0 5px;
  border: 1px solid #CCC;
  border-radius: 3px;
  overflow: hidden;
  font-size: 13px;
}
.list-kp .item {
  border-bottom: 1px solid #CCC;
  background: rgba(255, 255, 255, 0.2);
}
.list-kp .item > div {
  float: left;
  width: 11%;
  padding: 3px 1%;
  height: 37px;
  border-left: 1px solid #CCC;
  overflow: hidden;
}
.list-kp .item > div > a,
.list-kp .item > div > span {
  color: #333333;
  height: 36px;
  display: block;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
.list-kp .item > div > a {
  line-height: 15px;
}
.list-kp .item > div:first-child,
.list-kp .sorter > div:first-child {
  border-left: 0;
}
.list-kp .item > div.name,
.list-kp .sorter > div.name {
  width: 20%;
}
.list-kp .item > div.auditor_status,
.list-kp .item > div.status,
.list-kp .item > div.trash,
.list-kp .sorter > div.auditor_status,
.list-kp .sorter > div.status,
.list-kp .sorter > div.trash {
  width: 2%;
  text-align: center;
}
.list-kp .item > div.auditor_status > span,
.list-kp .item > div.status > span {
  display: block;
  padding-top: 8px;
}
.list-kp .item:last-child {
  border-bottom: 0;
}
.list-kp .item:after {
  content: '';
  clear: both;
  float: none;
  display: block;
}
.list-kp .sorter {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid #ccc;
  font-weight: 600;
  font-size: 12px;
}
.list-kp .sorter span {
  cursor: pointer;
  position: relative;
}
.list-kp .sorter span.asc,
.list-kp .sorter span.desc {
  color: #FE6700;
}
.list-kp .sorter span.asc:after,
.list-kp .sorter span.desc:after {
  content: "";
  position: relative;
  top: 12px;
  left: 3px;
}
.list-kp .sorter span.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #FE6700;
}
.list-kp .sorter span.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #FE6700;
  bottom: 10px;
  top: auto;
}
.list-kp .sorter > div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  float: left;
  height: 17px;
  width: 11%;
  padding: 5px 1%;
  border-left: 1px solid #CCC;
}
.list-kp .sorter > div:after {
  content: '';
  clear: both;
  float: none;
  display: block;
}
.list-kp .sorter:after {
  content: '';
  clear: both;
  float: none;
  display: block;
}
.list-kp .button.trash {
  width: 20px;
  height: 21px;
  background: url('/images/generator/editor/icons_structure_sprite.png') no-repeat 2px -204px;
  box-shadow: none;
  border: 0;
  margin-top: 8px;
}
.list-kp .button.trash:hover {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(200, 200, 200, 0.6);
}
.list-but-panel:after,
.list-kp:after {
  content: '';
  clear: both;
  float: none;
  display: block;
}
.list-but-panel {
  display: block;
  margin: 5px 15px 0;
}
.list-but-panel .button {
  border-radius: 3px 3px 0 0;
  padding: 0 10px;
  margin-right: 5px;
}
/*--------One-KP-window---------*/
.pPanel {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.pPanel .onePanel {
  padding: 0;
  margin: 0;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.4);
  display: block;
  float: left;
  width: 25%;
    border-color: #0297CD;
}
.pPanel .onePanel .ppBody > * {
  margin-top: 10px;
}
.pPanel .onePanel .ppBody > *:first-child {
  margin-top: 0;
}
.pPanel .onePanel .pwWindow {
  border: 1px solid #CCC;
  background: #f0f0f0;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  position: relative;
}
.pPanel .onePanel .pwWindow .pwTitle {
  padding: 2px 10px;
  border-bottom: 1px solid #CCCCCC;
  background: #E7E7E7;
  background: rgba(0, 0, 0, 0.05);
  font-size: 13px;
}
.pPanel .onePanel .pwWindow .pwTitle:after {
  content: "";
  position: absolute;
  background: url('/images/generator/editor/icons_structure_sprite.png') no-repeat left -190px;
  top: 5px;
  height: 10px;
  width: 12px;
  right: 10px;
  font-size: 15px;
}
.pPanel .onePanel .pwWindow .pwBody {
  font-size: .9em;
  padding: 5px 10px;
}
.pPanel .onePanel .pwWindow .pwBody .prop {
  display: block;
  padding: 3px 0;
}
.pPanel .onePanel .pwWindow .pwBody .prop .key,
.pPanel .onePanel .pwWindow .pwBody .prop .val {
  width: 55%;
  float: left;
  display: block;
}
.pPanel .onePanel .pwWindow .pwBody .prop .key {
  width: 43%;
  text-align: right;
  font-weight: 600;
}
.pPanel .onePanel .pwWindow .pwBody .prop .val {
  float: right;
}
.pPanel .onePanel .pwWindow .pwBody .prop .val > * {
  width: 89%;
  max-width: 89%;
  min-width: 89%;
  padding: 2% 5%;
  margin: 0;
}
.pPanel .onePanel .pwWindow .pwBody .prop .val select {
  width: 100%;
  padding: 2px 2px 2px 7px;
}
.pPanel .onePanel .pwWindow .pwBody .params-label {
  font-size: 11px;
}
.pPanel .onePanel .pwWindow .pwBody .params-input {
  width: 99%;
  max-width: 99%;
  min-width: 99%;
  margin-bottom: 10px;
}
.pPanel .onePanel .pwWindow .pwBody .prop:after {
  content: '';
  clear: both;
  float: none;
  display: block;
}
.pPanel .onePanel .pwWindow.structure .pwBody {
  padding: 0;
  max-height: 250px;
  overflow: auto;
}
.pPanel .onePanel .pwWindow.closed .pwTitle {
  border-bottom: 0;
}
.pPanel .onePanel .pwWindow.closed .pwTitle:after {
  background-position: left -177px;
}
.pPanel .onePanel .pwWindow.closed .pwBody {
  display: none;
}
.pPanel .onePanel.center {
  width: 62%;
  min-height: 103%;
  background: rgba(0, 0, 0, 0.1);
}
.pPanel .onePanel.left {
  width: 13%;
}
.view {
  height: 94%;
}
.pwWindow:after,
.view:after {
  content: '';
  clear: both;
  float: none;
  display: block;
}
/*----------Tools--------------*/
.tools {
  /*--------hr-----------*/
}
.tools .one-tool {
  padding: 5px 10px 5px 31px;
  display: block;
  cursor: default;
  border: 1px solid transparent;
  border-radius: 3px;
  margin: 0 3px 3px 0;
  position: relative;
}
.tools .one-tool input {
  display: none;
}
.tools .one-tool.select {
  background-color: rgba(0, 0, 0, 0.18);
  border: 1px solid #a0a0a0;
  box-shadow: 0 0 2px #a0a0a0 inset;
}
.tools .one-tool:before {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 5px;
  width: 20px;
  height: 22px;
  overflow: hidden;
  background: url("/images/generator/editor/icons_tools_sprite.png") no-repeat top left;
}
.tools .one-tool.move:before {
  background-position: left -22px;
}
.tools .one-tool.text:before {
  background-position: left -44px;
}
.tools .one-tool.block:before {
  background-position: left -65px;
}
.tools .one-tool.image:before {
  background-position: left -87px;
}
.tools .one-tool.varible:before {
  background-position: left -110px;
}
.tools .one-tool.header:before {
  background-position: left -132px;
}
.tools .one-tool.hr {
  padding: 0;
  border-bottom: 1px dashed #dcdcdc;
}
.tools .one-tool.hr:before {
  display: none;
}
/*---------Active CSS---------------*/
.activeCss {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.activeCss li {
  margin: 3px 0;
  padding: 0;
  border: 0;
}
.activeCss li label {
  margin: 0 3% 0 0;
  padding: 1% 0;
  border: 0;
  width: 40%;
  display: block;
  text-align: right;
  float: left;
  font-weight: bold;
}
.activeCss li input {
  width: 54%;
  display: block;
  float: left;
  padding: 1%;
  margin: 0;
}
.activeCss li:after {
  content: '';
  clear: both;
  float: none;
  display: block;
}
/*-----------Structure---------*/
.tree {
  margin: 0;
  padding: 0;
  border: 0;
}
.tree li.tree-item {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #F2F2F2;
  background: transparent;
  width: 100%;
  font-size: 12px;
}
.tree li.tree-item * {
  float: left;
  display: block;
}
.tree li.tree-item input {
  font-size: 12px;
  color: #555555;
}
.tree li.tree-item > input {
  background: transparent;
  border: 0;
  padding: 3px 5px;
  border-radius: 3px;
}
.tree li.tree-item > input.focused {
  box-shadow: 0 0 3px #c8c8c8 inset;
  background: white;
}
.tree li.tree-item .icon {
  width: 30px;
  height: 22px;
  border-right: 1px solid #F2F2F2;
  background: #fcfcfc url("/images/generator/editor/icons_structure_sprite.png") no-repeat top left;
}
.tree li.tree-item .icon-string {
  background: #000000;
}
.tree li.tree-item .delete,
.tree li.tree-item .up,
.tree li.tree-item .down {
  float: right;
  cursor: pointer;
  width: 15px;
  height: 14px;
  margin: 4px 5px 0 0;
  background: url("/images/generator/editor/icons_structure_sprite.png") no-repeat left -21px;
}
.tree li.tree-item .up {
  background-position: left -161px;
}
.tree li.tree-item .down {
  background-position: left -142px;
}
.tree li.tree-item .delete:hover,
.tree li.tree-item .up:hover,
.tree li.tree-item .down:hover {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0 3px #c8c8c8;
}
.tree li.tree-item ul.child {
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
.tree li.tree-item.type-page > .icon {
  background-position: 8px -77px;
}
.tree li.tree-item.type-block > .icon {
  background-position: 8px -35px;
}
.tree li.tree-item.type-string > .icon {
  background-position: 8px -57px;
}
.tree li.tree-item.type-image > .icon {
  background-position: 7px -97px;
}
.tree li.tree-item.type-varible > .icon {
  background-position: 8px -118px;
}
.tree li.tree-item:after {
  content: '';
  clear: both;
  float: none;
  display: block;
}
.tree .level-0 > input {
  margin-left: 5px;
}
.tree .level-1 > input {
  margin-left: 15px;
}
.tree .level-2 > input {
  margin-left: 30px;
}
.tree .level-3 > input {
  margin-left: 45px;
}
.tree .level-4 > input {
  margin-left: 60px;
}
.tree .level-5 > input {
  margin-left: 75px;
}
.tree .level-6 > input {
  margin-left: 90px;
}
.tree .level-7 > input {
  margin-left: 105px;
}
.ui-hover-elem {
  box-shadow: 0 0 5px #8FC6FC !important;
  background: #8FC6FC !important;
}
/*----------EDITOR----------*/
.pages {
  width: 760px;
  height: 1080px;
  background: white;
  box-shadow: 0 0 5px #c8c8c8;
  margin: 5px auto;
  padding: 20px 20px;
  overflow: hidden;
}
.pages .block,
.pages .page {
  display: block;
}
.pages .string {
  white-space: pre-wrap;
}
.pages .image {
  display: block;
  overflow: hidden;
}
.pages .ui-draggable {
  box-shadow: 0 0 5px #0297CD !important;
  z-index: 99;
}
.pages.cursor-select,
.pages.cursor-block,
.pages.cursor-images {
  cursor: default;
}
.pages.cursor-move {
  cursor: move;
}
.pages.cursor-text {
  cursor: text;
}
.block:after,
.pages:after {
  content: '';
  clear: both;
  float: none;
  display: block;
}
/*--------Button-style--------*/
.button {
  font-size: 12px;
  border: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  line-height: 21px;
  border-width: 1px;
  border-style: solid;
  border-color: #CCCCCC;
  background: rgba(220, 220, 220, 0.6);
  color: #333333;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0 0 3px #c8c8c8 inset;
}
.button:active {
  color: #555555;
  background: rgba(200, 200, 200, 0.6);
  box-shadow: 0 0 3px #828282 inset;
}
.button.save {
  background: #60B044;
  color: white;
  border-color: #64B745;
}
.button.active {
  background: grey;
  color: white;
}
/*------Button-group-style-------*/
.group-button {
  margin: 5px;
}
.group-button .button {
  float: left;
}
.group-button .button:first-child {
  border-radius: 3px 0 0 3px;
}
.group-button .button:last-child {
  border-left: 0;
  border-radius: 0 3px 3px 0;
}
.group-button:after {
  content: '';
  clear: both;
  float: none;
  display: block;
}
.hr {
  margin: 7px 5% 5px;
  padding: 0;
  border: 0;
  width: 90%;
  height: 1px;
  border-bottom: 1px dashed #dcdcdc;
}
.w-50 {
  width: 50%;
  float: left;
}
.w-7 {
  width: 7%;
  float: left;
}
