body{
    margin: 0;
    padding: 0;
}
.wrapper
{
    width: 750px;
    margin: 0 auto;
}

.wrapper .header
{
    text-align: center;
}

.wrapper .title
{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.wrapper .content
{
    padding: 15px;
}
.wrapper .content table.parent
{
    width: 100%;
    margin: 0;
    border: 1px solid grey;
    border-right: 0;
    border-bottom: 0;
}
.wrapper .content table.parent td,
.wrapper .content table.parent th
{
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}
.wrapper .content table.parent td.text,
.wrapper .content table.parent th.text
{
    padding: 1px 5px;
}
.wrapper .content table.parent td table.children
{
    width: 100%;
    border: 0;
}
.wrapper .content table.parent td table.children td
{
    border-right: 0;
    border-bottom: 0;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
}
.wrapper .content table.parent td table.children td:first-child
{
    border-left: 0;
}
.wrapper .content table.parent td table.children tr:first-child td
{
    border-top: 0;
}
.wrapper .content table.parent thead td
{
    font-weight: bold;
}

